body {
  margin: 0;
  padding: 0;
  background-color: #f3f7fa;
}
.main {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.AirLines {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 500px;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}
